<!DOCTYPE html>
<html>
<head>
  <title>Express Boilerplate</title>
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/lib/underscore-min.js"></script>
</head>

<body>
  Login
  <form method="POST">
    <label for='username'>Username</label><input type="text" name="username" />
    <label for='password'>Password</label><input type="text" name="password" />
    <input type="submit" />
  </form>
</body>
</html>
